---
import { Icon } from "@astrojs/starlight/components";
---

<div class="download-section">
  <a href="https://github.com/kittynode/kittynode/releases" class="download-button">
    <Icon name="apple" size="2rem" />
    <span>macOS</span>
  </a>
  <a href="https://github.com/kittynode/kittynode/releases" class="download-button">
    <Icon name="seti:windows" size="2rem" />
    <span>Windows</span>
  </a>
  <a href="https://github.com/kittynode/kittynode/releases" class="download-button">
    <Icon name="linux" size="2rem" />
    <span>Linux</span>
  </a>
</div>

<style>
  .download-section {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 2rem 0;
  }

  .download-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--sl-color-white);
    width: 4rem;
    text-align: center;
  }

  .download-button span {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    width: 100%;
  }
</style>
